# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# PyCharm / VSCode / IDEs
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
htmlcov/
.tox/

# Environment variables
.env
